name: Release

on:
  push:
    branches:
      - test

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.15

      - name: Install Dependencies
        run: yarn

      - name: Create Release Pull Request
        uses: changesets/action@v1
        id: create_pr
        with:
          version: yarn run version
          commit: '[ci] release ${{ github.ref_name }}'
          title: '[ci] Release ${{ github.ref_name }}'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get result
        run: echo "${{steps.create_pr.outputs.pullRequestNumber}}"

      - name: Trigger Workflow
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'test.yml',
              ref: 'test',
              inputs: {
                issue_number: `${{steps.create_pr.outputs.pullRequestNumber}}`
              }
            })

  call-demo:
    uses: ./.github/workflows/demo.yml